body {
  margin : 0;
  color: white;
  background-color: rgb(11, 14, 25);
}

#hero-section {
  background-image: url('../img/dmitry-spravko-tl56qAl9STg-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flow-root;
  margin: 20px;
}

.btn {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
}

